# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build output
# =========================
dist/*.map

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Editor / OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
coverage/

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Logs
# =========================
log/

# =========================
# Lock file
# =========================
package-lock.json

