# =========================
# Registry
# =========================
registry=https://registry.npmjs.org/

# =========================
# Performance
# =========================
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=50

# =========================
# Security
# =========================
strict-ssl=true
audit=true
fund=false

# =========================
# Logging
# =========================
loglevel=warn
progress=true

# =========================
# Package behavior
# =========================
save-prefix=^
package-lock=true
engine-strict=true

# =========================
# Publish
# =========================
access=public