src/
test/
.github/
npm.publish.auto
gittag.release
.gitignore
.editorconfig
log/
output-ts/
node_modules/
.prettierignore
.prettierrc
prettier.config.js
index.html
package-lock.json
tsconfig.json
react/
